<table>
  <thead>
    <tr>
      {% for header in header %}
        <th>{{ header }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if rows is empty %}
      <tr>
        <td colspan="{{ header|length }}">No users found.</td>
      </tr>
    {% else %}
      {% for row in rows %}
        <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
